<div
  class="container"
  fxLayout="row"
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-dialog-content>
    <mat-card-subtitle>
      {{ data.category }} <span>{{ data.index }} / 10</span>
    </mat-card-subtitle>
    <mat-card-title [outerHTML]="data.question"></mat-card-title>
    <mat-card-content>
      <mat-grid-list
        [cols]="breakpoint"
        (window:resize)="onResize($event)"
        gutterSize="40px"
        rowHeight="2:1"
      >
        <mat-grid-tile
          colspan="1"
          [ngClass]="{
              'correct animated jello': answer === correctAnswer && answered,
              'incorrect': answer === incorrectAnswer && answered
            }"
          *ngFor="let answer of data.answers"
          (click)="onAnswer(answer)"
          [attr.disabled]="answered ? true : null"
        ><span [innerHTML]="answer | titlecase"></span></mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-dialog-content>
</div>