<div fxLayout="column" fxLayoutAlign="center">
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-card-title class="p-t-10 p-b-10 m-b-10">You're Almost Playing!</mat-card-title>
    <mat-dialog-content>
      <mat-form-field class="width-300 sm-width-240">
        <mat-select
          placeholder="Select a Category"
          ngModel
          name="category"
          required
        >
          <mat-option
            *ngFor="let category of data.categories"
            [value]="category"
          >{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="width-300 sm-width-240">
        <mat-select
          placeholder="Select Difficulty"
          ngModel
          name="difficulty"
          required
        >
          <mat-option
            *ngFor="let difficulty of data.difficulties"
            [value]="difficulty"
          >{{ difficulty | titlecase }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        [disabled]="f.invalid"
        mat-raised-button
        type="submit"
        color="accent"
      >Play Trivia</button>
      <button
        mat-raised-button
        type="button"
        (click)="onCancel()"
      >Cancel</button>
    </mat-dialog-actions>

  </form>
</div>
