.navigation-items {
    list-style: none;
    padding: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    navigation-items {
        padding: 0;
    }
}