/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');

html, body {
    height: 100%;
	font: 100%/1.5 "Roboto", Verdana, sans-serif;
	font-weight: 100;
}

body {
	margin: 0;
}

app-question-dialog {
	min-width: 75%;
}

.cells {
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.container {
    height: 80vh;
    min-height: 100%;
    max-width: 100%;
}

.vh-100 {
    height: 100vh;
}

.vw-75 {
    width: 75vw;
}

.mw-100 {
	max-width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
	width: 50px;
}

.width-100 {
	width: 100px;
}

.width-150 {
	width: 150px;
}

.width-300 {
    width: 300px;
}

.center {
    text-align: center;
}

.pull-right {
    text-align: right;
}


/***** MARGIN *****/
.m-t-5 {
	margin-top: 5px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

/***** PADDING *****/
.p-t-1 {
	padding-top: 1px;
}
.p-t-2 {
	padding-top: 2px;
}
.p-t-3 {
	padding-top: 3px;
}

.p-b-1 {
	padding-bottom: 1px;
}
.p-b-2 {
	padding-bottom: 2px;
}
.p-b-3 {
	padding-bottom: 3px;
}


.p-10 {
	padding: 10px !important;
}


/***** FONTS *****/
.font-expand {
	letter-spacing: 4px;
}


.font-2vw {
	font-size: 2vw;
}

.font-3vw {
	font-size: 3vw;
}

.font-4vw {
	font-size: 4vw;
}

.font-18 {
	font-size: 18px;
}

.font-24 {
	font-size: 24px;
}

.font-28 {
	font-size: 28px;
}


@media only screen and (max-width: 700px) {
	.font-2vw {
		font-size: 4vw;
	}
	.sm-width-240 {
		width: 240px;
	}
}