<div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="container"
>
    <mat-card
        fxFlex.xs="100%"
        fxFlex="50%"
        class="welcome"
    >
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
                <h1 class="display-1 animated rubberBand">Welcome to Trivia Time!</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions fxLayoutAlign="center">
            <button
                mat-raised-button
                color="accent"
                routerLink="/setup"
                class="width-150 p-10"
            >
                <mat-icon class="animated heartBeat infinite slower">play_arrow</mat-icon>&nbsp;<span class="font-28 font-expand">Play</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>